
/* .card:hover{
 box-shadow:5px 5px grey;
} */



/* .item-card:hover{
    transform:scale(1.01);
    
  } */


  .item-card{
    max-height: 1500px;
  }

.image{
    width:100%;
    /* height:40%; */
    

}

/* .rating-icon{
    color:gold;*/
    /* background-color: black; */
  
   /* font-size: 16px;
  margin-right:5px; */
    /* background-color:azure; */
/*} */



.span-container{
    /* position:absolute; */
    left:0;
    top:7px;
    padding-bottom:1px;
    
}

.rating-container{

    width:60px;
    max-height:130px;
    margin-bottom:5px;
    background-color:#ff4081;
    /* position: relative; */
    display: flex !important;
    justify-content:space-between;

 

}

.price-container{
    display:flex;
    align-items:baseline;
}

.price{
    align-self:center;
    /* margin-bottom:10px; */
    font-weight:700;
    
}


.currency{
   
    /* background-color:antiquewhite; */
    margin-top:15px;
}

.fav-btn{
    background-color:transparent;
    border-style:none;
    
}

.view-more-btn{
    background-color: #ff4081;
    color:white;
    border-style: none;
    padding:5px;
    border-radius: 3px;
    /* margin-right:5px; */
    width:100px;
    height:30px;
    font-weight:600;
}

.item-card-btn-container{
    background-color:#f5f5f5;
   
    border-radius: 5px;;
}
