.nav{
    background-color:#ff4081;
}

.fav-icon{
    color:white;
    /* margin:10px; */
}



.input-group{
    margin-top:6px;
    width:100px;
    

}

.logout-btn{
    background-color:transparent;
    border-style:none;
    color:white;
    font-weight:600;
}

.cart-btn{
    background-color:transparent;
    border-style:none;
    color:white;
    font-weight:600; 
}



